.filter {
	display: flex;
	flex-direction: column;
}

.input {
	width: 100px;
	height: 23px;
	text-align: center;

	background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
	border-radius: 1000px;

	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #3F4E65;
}

.dash {
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #3F4E65;

	display: inline-flex;
	margin: 0px 10px;
}

.filtererorr {
	display: flex;
	flex-direction: column;
}

.error {
	font-weight: 500;
	font-size: 12px;
	line-height: 130%;
	color: red;

	display: inline-flex;
	margin: 0px 10px;
}

@media (max-width: 320px) { 
	.error {
		margin: 10px 0px 0px;
	}
}