.button {
	width: 34px;
	height: 23px;
	background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
	border-radius: 1000px;

	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #3F4E65;
}

.button:hover {
	background: #FFC85E;
}

.quantity {
	display: inline-flex;
	width: 15px;
	justify-content: center;

	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #3F4E65;

	margin: 0 10px;
}
