.first {
	width: 153px;
	height: 45px;
   border-radius: 80px;
	font-size: 10px;
	line-height: 12px;
}

.second {
	width: 192px;
}

.third {
	width: 200px;
}

.fourth {
	width: 184px;
}

.fifth {
	width: 214px;
}

.first:disabled {
	background: #f8bb428a;
}

.first, .second, .third, .fourth, .fifth {
	background: #FFC85E;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	color: #FFFFFF;
}

.first:hover, .second:hover, .third:hover, .fourth:hover, .fifth:hover  {
	background: #ffc95eb2;
}

.second, .third, .fourth, .fifth {
	height: 59px;
	border-radius: 79px;
	font-size: 14px;
	line-height: 17px;
}

.first img {
	margin-left: 5px;
	width: 27px;
	height: 27px;
}

.second img {
	margin-left: 12px;
	width: 15px;
	height: 15px;
}

.third img, .fifth img{
	margin-left: 12px;
	width: 17px;
	height: 17px;
}

.fourth img{
	margin-left: 12px;
	width: 23px;
	height: 23px;
}

@media (max-width: 414px) {
	.second {
		position: relative;
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		color: #3F4E65;

		width: 70px;
		height: 30px;
		border-radius: 0px;
		background-color: white;

		justify-content: flex-end;
	}

	.second img {
		position: absolute;
		left: 0;
		width: 15px;
		height: 15px;
		margin: 0;
		margin-right: 6px;
		filter: invert(75%) sepia(16%) saturate(915%) hue-rotate(177deg) brightness(100%) contrast(91%);
	}

	.fifth {
		width: 149px;
		height: 40px;
		font-size: 12px;
	}

	.fourth img{
		margin-left: 5px;
		width: 13px;
		height: 13px;
	}
}