.hideorreveal {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #111111;

	display: flex;
	align-items: center;

	cursor: pointer;

	margin-bottom: 20px;
}

.hideorreveal img{
	margin-left: 5px;
	padding-top: 2px;
}

.data {
	margin-top: -5px;
	margin-bottom: 20px;
}

.text {
	font-weight: 300;
	font-size: 12px;
	line-height: 150%;
	color: #3F4E65;
}
